{% extends 'base.html' %}
{% block content %}
<main id="hatlistmain">
<br>
<h1 id="hatsindexh1">Your Hats</h1>

<form action="{% url 'hats_create' %}">
<button class="btn" type="submit">Add a Hat</button>
</form>
{% if object_list %}
  {% for obj in object_list %}
  <div class="card" style="width: 18rem;">
    <img src="{{ obj.picture }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ obj.name }}</h5>
      <p class="card-text">From {{ obj.team_name }} in {{ obj.color }}</p>
      <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">More Details</a>
    </div>
  </div>
  <br>
  {% endfor %}
{% else %}
  <p>There are no Hats in your collection.</p>
{% endif %}

</main>
{% endblock %}

