{% extends 'base.html' %}
{% block content %}
<main id="listmain">
<br>
<h1 id="indexh1">Your Jerseys</h1>

<form action="{% url 'jerseys_create' %}">
<button class="btn btn-outline-secondary" type="submit">Add a Jersey/Kit</button>
</form>
{% if object_list %}
{% for obj in object_list %}
<div class="card">
  <img src="{{ obj.picture }}" class="card-img-top" alt="Jersey Image">
  <div class="card-body">
    <h3 class="card-title">{{ obj.jersey_name }}</h3>
    <p class="card-text">From {{ obj.team_name }} in {{ obj.sport }}</p>
    <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">More Details</a>
  </div>
</div>
<br>
{% endfor %}
{% else %}
  <p>There are no Jerseys in your collection.</p>
{% endif %}

</main>
{% endblock %}