{% extends 'base.html' %}
{% block content %}
<main id="detailmain">
<br>
  <h1 id="detailh1">{{ object.jersey_name }} Detail</h1>
<form action="{% url 'jerseys_update' object.id %}"><button type="submit" class="btn">Edit</button></form>

<ul class="list-group">
    <li class="list-group-item">Team: {{ object.team_name }}</li>
    <li class="list-group-item">Sport: {{ object.sport }}</li>
    <li class="list-group-item">Date Acquired: {{ object.year }}</li>
    <li class="list-group-item">Description: {{ object.description }}</li>
</ul>
<br>
<img src="{{ object.picture }}"></img>
<br>
<br>
{% if object.hats.count %}
  <table class="table table-info table-sm" id="hatonjersey">
    <thead>
      <tr><th>Hat</th><th>Link to Hat Detail</th><th></th></tr>
    </thead>
    <tbody>
      {% for hat in object.hats.all %}
        <tr>
          <td>{{hat.name}}</td>
          <td><form action="{{ hat.get_absolute_url }}"><button type="submit" class="btn">Here</button></form></td>
          <td><form action="{% url 'unassoc_hat' jersey.id hat.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h3>No Hats Yet!</h3>
{% endif %}
<br>
<br>
<h3>Available Hats</h3>
<h4>Click to add:</h4>
{% if availhats.count %}
<div class="list-group">
  {% for hat in availhats %}
  <form action="{% url 'assoc_hat' jersey.id hat.id %}" method="POST">{% csrf_token %}<button type="submit" class="list-group-item list-group-item-action">{{ hat.name }}: {{ hat.team_name }}</button></form>
  {% endfor %}
  </div>
{% else %}
<h4>No more hats to add!</h4>
{% endif %}
<br>
<form action="{% url 'jersey_cleaning' object.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="Add Cleaning">
  </form>
<table class="striped" id="clean">
    <thead>
      <tr><th>Date</th><th>Dry Cleaned?</th></tr>
    </thead>
    <tbody>
      {% for cleaning in object.cleaning_set.all %}
        <tr>
          <td>{{cleaning.date}}</td>
          <td>{{cleaning.dry_cleaned}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<br>
<form action="{% url 'jerseys_delete' object.id %}"><button type="submit" class="btn">Delete Jersey</button></form>
</main>
{% endblock %}