{% extends 'base.html' %}
{% block content %}
<main id="listmain">
<h1 id="indexh1">Your Jerseys</h1>

<form action="{% url 'jerseys_create' %}">
<button class="btn" type="submit">Add a Jersey/Kit</button>
</form>
{% if object_list %}
<ul>
  {% for obj in object_list %}
    <li>
      <a href="{{ obj.get_absolute_url }}">{{ obj.jersey_name }}</a> : From {{ obj.team_name }} in {{ obj.sport }}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no Jerseys in your collection.</p>
{% endif %}

</main>
{% endblock %}