{% extends 'base.html' %}
{% block content %}
<main id="aboutpg">
<h1 id="abouth1">All 'bout Jersey/Kit Collector</h1>

<div id="aboutp">
<p class="lead" id="leadp">You've got a passion we get, jerseys. All kinds for all sports!</p>
<p>This platform allows you an easy way to keep track of all the cool stuff you collect from your soccer kits, to hockey sweaters, football jerseys, and even your hats that they can be paired with.</p>
<p>Get on adding and enjoy keeping things tidy & organized at least digitally!</p>
</div>
<br>
</main>
{% endblock %}